.download_card_content {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.download_card_content img {
  flex-shrink: 0;
  width: clamp(1rem, 4.5rem, 6rem);
  aspect-ratio: 1 / 1;
}

.download_card_description {
  margin-left: 7.5px;
  width: 100%;
}

.download_card_description p {
  display: flex;
  flex-direction: column;
  margin-block-start: 0em;
  margin-block-end: 0em;
  box-sizing: border-box;
}

.download_card_title {
  display: flex;
  justify-content: space-between;
}

.download_card_title p:nth-child(2) {
  white-space: nowrap; 
}
