@use "~/utils" as g;

.actions {
  padding-top: g.$padding-sm;
}

.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: g.$padding-sm;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: g.$padding-sm;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  // height: 100%;
  // align-items: start;
  // justify-content: start;

  @include g.card-padding-y;
  gap: g.$padding-sm;
}

.sub {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include g.card-padding-y;

  & * {
    width: 100%;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  // gap: g.$padding-sm;
  overflow: hidden;
  @include g.card-padding-x;
}

.cardContainer .sub {
  @include g.card-padding;
}

.cardTextWrapper {
  padding: 0 2rem;
}

.markdownWrapper .sub {
  & * {
    text-align: left;
  }

  h3 {
    padding-top: 1rem;
  }

  img {
    border: g.$minecraftdepth solid rgb(30, 30, 31);
    margin-top: 1rem;
  }
}

.question {
  display: flex;
  flex-direction: column;
  gap: g.$padding-xsm;
  width: 100%;

  @media (max-width: g.$breakpoint-laptop) {
    gap: g.$padding-xxsm;
  }
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: rgb(41, 41, 41);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  // flex: 1;
  // height: 100%;
  // align-items: start;
  // justify-content: start;

  // @include g.card-padding;
  gap: g.$padding-sm;
}
