@use "@/shared/ui" as g;

.background {
  background-position: right center;
}

.padding {
  @include g.section-padding((top, bottom), g.$sectionsDividerPadding);
}

.trailer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-top: g.$padding-sm;
}

.videoContainer {
  margin-top: calc(g.$padding-xsm * 2.5);
}

.link {
  width: 100%;
}
