@use "~/utils/_variables" as g;

.buttonGroup {
  width: 100%;
  display: flex;
  position: relative;
}

.buttonGroup > :global(*) {
  position: relative;
  z-index: 1;
}
.buttonGroup > :global(*:hover),
.buttonGroup > :global(*:focus-within) {
  z-index: 2;
}

.buttonGroup[data-direction="horizontal"],
.buttonGroup[data-direction="responsive"] {
  flex-direction: row;
}

.buttonGroup[data-direction="horizontal"] > :global(*:not(:first-child)),
.buttonGroup[data-direction="responsive"] > :global(*:not(:first-child)) {
  margin-left: calc(-1 * var(--minecraftdepth));
}

.buttonGroup[data-direction="vertical"] {
  flex-direction: column;
}

.buttonGroup[data-direction="vertical"] > :global(*:not(:first-child)) {
  margin-top: calc(-1 * var(--minecraftdepth));
}

@media (max-width: g.$breakpoint-mobileL) {
  .buttonGroup[data-direction="responsive"] {
    flex-direction: column;
  }

  .buttonGroup[data-direction="responsive"] > :global(*:not(:first-child)) {
    margin-left: 0;
    margin-top: calc(-1 * var(--minecraftdepth));
  }
}
