@use "@/shared/ui" as g;

.information {
  position: relative;
  display: flex;
  flex-direction: column;
}

.editor {
  @include g.card-margin();

  &.size {
    display: flex;
    flex-direction: column;
    gap: g.$padding-xxsm;
  }
}

.creator {
  width: 100%;
  display: inline-flex;
  padding-bottom: g.$padding-xxsm;
}

.input {
  width: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  gap: g.$padding-xxsm;

  width: 100%;
}

.picker {
  display: none;
}

.types {
  display: none !important;

  @media (max-width: g.$breakpoint-tablet) {
    display: flex !important;

    > * {
      max-lines: 1;
    }
  }
}

.group {
  @media (max-width: g.$breakpoint-tablet) {
    display: none;
  }
}
