@use "@/utils" as g;

.background {
  @include g.page-background(
    g.$background,
    "../../public/images/crosshair_backgrounds/11.webp"
  );
}

.padding {
  @include g.section-padding((top, bottom));
}