@use "~/utils/_variables" as g;

.actions {
  padding-top: g.$padding-sm;
}

.label {
  padding: 0.5rem;
}

.author {
  width: 100%;
}

.container {
  width: 100%;
}

.part {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: g.$padding-sm;
  gap: g.$padding-xxsm;
}

.button {
  width: 100%;
}

.checkout {
  width: 100%;
  height: 300px;
}

.voucher {
  width: 100%;
  display: inline-flex;
  gap: g.$padding-xsm;
}

.input {
  width: 100%;
}
