@use "~/utils/_variables" as g;

.preview {
  width: 100%;
  gap: g.$padding-md;
  display: flex;
  flex-direction: column;

  .description {
    padding-bottom: g.$padding-sm;
  }

  .action {
    width: 100%;
  }
}

.information {
  display: flex;
  flex-direction: column;

  // gap: g.$padding-sm;
}

.header {
  display: flex;
  flex-direction: row;
  gap: g.$padding-xxsm;
}

.card {
  gap: g.$padding-md;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: g.$icon-md;
  height: g.$icon-md;
  image-rendering: pixelated;
}

.skip {
  color: g.$color-selection !important;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: g.$padding-xsm;
}

.editor {
  margin-inline: calc(g.$padding-xsm * 2.5);
  margin-block: g.$padding-xsm;
}

.picker {
  display: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  gap: g.$padding-xxsm;

  width: 100%;
}

.creator {
  width: 100%;
  display: inline-flex;
  padding-bottom: g.$padding-xxsm;
}

.input {
  width: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: g.$padding-sm;
}

.rating {
  width: 100%;
  align-items: center;
  display: inline;
}
