@use "@/utils" as g;

.indicator {
  display: flex;
  flex-wrap: wrap;
}

.svg {
  width: 100%;
  height: 100%;
}

.small {
  width: g.$icon-sm;
  height: g.$icon-sm;
}

.medium {
  width: g.$icon-md;
  height: g.$icon-md;
}

.large {
  width: g.$icon-lg;
  height: g.$icon-lg;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
