@use "~/utils/_variables" as g;

.wrapper {
  background-position:
    0% 0%,
    0% 0%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.fixed {
  background-attachment: fixed;
}

.center {
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  /* TODO: Replace 64 with header + footer heights */
  min-height: calc(100vh - (64px * 2));
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;
//   padding: 5vh 0 2.5vh 0;
}
