@use "~/assets/styles/global" as g;

.background {
    @include g.page-background(
        g.$background-linear-gradient,
        "~/assets/images/crosshair_backgrounds/14.png",
        (top, bottom),
        g.$sectionsDividerPadding
      );
    background-position: right center;
}

.trailer {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.resources {
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    margin-top: g.$padding-sm;
}