.text {
    text-align: left;
}


p.text {
    font-size: 1.2rem;

    @media screen and (max-width: 800px) { 
        font-size: 1.15rem;
    }
    
    @media screen and (max-width: 400px) { 
        font-size: 1.1rem;
    }
}

p.p2 {
    font-size: 1.1rem;

    @media screen and (max-width: 800px) { 
        font-size: 1.05rem;
    }
    
    @media screen and (max-width: 400px) { 
        font-size: 1.0rem;
    }
}

p.p3 {
    font-size: 1.0rem;

    @media screen and (max-width: 800px) { 
        font-size: 0.95rem;
    }
    
    @media screen and (max-width: 400px) { 
        font-size: 0.9rem;
    }
}


h3 {
    font-size: 1.3rem;

    @media screen and (max-width: 800px) { 
        font-size: 1.2rem;
    }
    
    @media screen and (max-width: 400px) { 
        font-size: 1.1rem;
    }
}

h2 {
    font-size: 1.4rem;

    
    @media screen and (max-width: 800px) { 
        font-size: 1.3rem;
    }
    
    @media screen and (max-width: 400px) { 
        font-size: 1.2rem;
    }
}

h1 {
    font-size: 1.5rem;

    @media screen and (max-width: 800px) { 
        font-size: 1.4rem;
    }
    
    @media screen and (max-width: 400px) { 
        font-size: 1.3rem;
    }
}

.strong {
    font-weight: bold;
}

.non_selectable {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}