@use "@/shared/ui" as g;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(47, 47, 48);
  display: flex;
  flex-direction: column;
  border: g.$minecraftdepth solid rgb(30, 30, 31);

  box-shadow: g.$minecraftdepth g.$minecraftdepth 0px 0px
    g.$color-overlay-card-dark;
  transition: transform 0.15s ease;

  @media (hover: hover) {
    &:hover {
      transform: translate(
        calc(g.$minecraftdepth * -2),
        calc(g.$minecraftdepth * -2)
      );
    }
  }
}

.background {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.empty {
  background-color: rgb(30, 30, 31);
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;

  align-items: center;
  justify-content: center;
}

.thumbnail {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
}

.author {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  z-index: 1;
  pointer-events: none;

  .header {
    pointer-events: all;
    align-items: center;
    padding: g.$padding-xxsm;
    background-color: g.$color-overlay-dark;
  }
}

.opacity {
  padding: g.$padding-xxxsm;
  // gap: calc(g.$padding-xxxsm * -1);
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
}

.type {
  padding-bottom: 0;
  color: g.$color-sbtn-click-on-focus-visible !important;
}

.tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: start;
  justify-content: end;

  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.avatar {
  width: g.$icon-sm;
  height: g.$icon-sm;
  image-rendering: pixelated;
}

.link {
  text-decoration: none;
  color: inherit;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.rating {
  color: g.$color-sbtn-click-on-focus-visible !important;
}

.special {
  background-color: g.$color-tag-special !important;
}

.footer {
  flex: 1;
  border-top: g.$minecraftdepth solid rgb(30, 30, 31);
}

.foreground {
  width: 100%;
  height: 100%;
  padding-inline: g.$padding-xxsm;
  padding-block: g.$padding-sm;
  gap: g.$padding-xxxsm;
  border-image-slice: 1 1 1 1 fill !important;
  border-image-width: calc(g.$minecraftdepth) calc(g.$minecraftdepth)
    calc(g.$minecraftdepth) calc(g.$minecraftdepth) !important;
}

.top {
  display: flex;
  flex-direction: row;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.information {
  display: flex;
  flex-direction: column;
}

.tags2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: g.$padding-xxsm;
}
.tag {
  color: g.$color-light-grey !important;
}

.bb {
  background-color: g.$color-tag-bb !important;
}

.logo {
  width: g.$icon-md;
  height: auto;
  image-rendering: pixelated;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  gap: g.$padding-xxxsm;
}

.titleText {
  word-break: break-word;
}