@use "~/utils" as g;

.gallery {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: g.$color-card-background;
  padding: g.$padding-sm;
  gap: g.$padding-sm;

  @media (max-width: g.$breakpoint-tablet) {
    flex-direction: column;
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}

.close {
  width: g.$icon-sm;
  height: g.$icon-sm;
}

.hero {
  position: relative;
  flex: 1;
  height: 0;

  img {
    background-color: rgb(30, 30, 31);
    aspect-ratio: 16 / 9;
    border: g.$minecraftdepth solid rgb(30, 30, 31);
  }
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  gap: g.$padding-xsm;
  white-space: nowrap;
}

.preview {
  display: flex;
  cursor: auto;
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  filter: brightness(0.6);
  background-color: #444;

  img {
    @include g.no-drag();
    display: block;
    width: 100%;
  }
}

.preview:hover {
  cursor: pointer;
  filter: brightness(1);
}

.selected {
  filter: brightness(1);
}

.selected:hover {
  cursor: auto;
}

.arrow {
  filter: brightness(0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border: g.$minecraftdepth solid white;
  height: 100%;

  img {
    @include g.no-drag();

    image-rendering: pixelated;
    aspect-ratio: 1/1;
    height: g.$icon-md;
    width: g.$icon-md;
    object-fit: contain;
  }
}

.arrow:hover {
  cursor: pointer;
  filter: brightness(1);
}

.imageIndex {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0.125rem 0.125rem 0.125rem 0.25rem;
  position: absolute;
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: g.$padding-sm;
}

.wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}

.delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  .icon {
    position: relative;
    height: g.$icon-md;
    width: g.$icon-md;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    filter: invert(1);
    cursor: pointer;
  }
}

.empty {
  background-color: rgb(30, 30, 31);
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;

  align-items: center;
  justify-content: center;
}
