@use "@/shared/ui" as g;

.content {
  width: 100%;
  padding: calc(g.$minecraftdepth * 2);
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}

.price {
  flex-shrink: 0;
}

.description {
  margin-left: 0.75rem;
  width: 100%;
}

.description p {
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
}
