.loadingbar-outer-layer {
    max-width: 100%;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: calc(var(--minecraftdepth) * 2) var(--minecraftdepth);
    position: relative;
    border: var(--minecraftdepth) solid white;
    padding: var(--minecraftdepth);
    box-sizing: border-box;
}

.loadingbar-inner-layer {
    position: relative;
    width: 100%;
    height: 100%;
    border: var(--minecraftdepth) solid transparent;
    box-sizing: border-box;
    background-color: white;
}
