@use "~/utils/_variables" as g;

.statistics {
  width: 100%;
  height: 100%;
  align-items: start;
  justify-content: start;

  padding: g.$padding-xsm;
  gap: g.$padding-xsm;
}

.name {
  -ms-word-break: break-all;
  word-break: break-all;
  white-space: pre-wrap;
}

.highlight {
  animation: 1s ease-out 0s 1 highlight;
}

@keyframes highlight {
  0% {
    color: g.$color-selection;
  }
  100% {
    color: g.$color-selection;
  }
}

.header {
  display: flex;
  justify-content: space-between
}
