@use "@/utils" as g;

.background {
  @include g.page-background(
    g.$background-linear-gradient,
    "../../public/images/crosshair_backgrounds/16.webp"
  );
}

.padding {
  @include g.section-padding((top, bottom));
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  width: 100%;
  display: flex;
}

.category {
  width: 100%;
}
