.label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: visible;
    box-sizing: border-box;
    min-height: calc(var(--minecraftdepth) * 2);
}

.white {
    background-color: rgb(230, 232, 235);
    border-bottom: calc(var(--minecraftdepth) * 2) solid rgb(145, 145, 145);
}

.green {
    background-color: rgb(82, 165, 53);
    background-color: rgb(29, 77, 19);
}

.dark {
    background-color: #313233;
    background-color: #1e1e1f;
}