@use "@/utils" as g;

.background {
  @include g.page-background(
    g.$background-linear-gradient,
    "../../public/images/crosshair_backgrounds/6.webp"
  );
}

.padding {
  @include g.section-padding((top, bottom));
}

.projects {
  width: 100%;
  display: grid;
  gap: calc(g.$padding-xsm * 2.5);
  grid-template-columns: repeat(2, 1fr);
}
