@use "@/shared/ui" as g;

.indicator {
  display: flex;
  flex-wrap: wrap;
}

.svg {
  width: 100%;
  height: 100%;
}

.small {
  width: g.$circular-progress-indicator-sm;
  height: g.$circular-progress-indicator-sm;
}

.medium {
  width: g.$circular-progress-indicator-md;
  height: g.$circular-progress-indicator-md;
}

.large {
  width: g.$circular-progress-indicator-lg;
  height: g.$circular-progress-indicator-lg;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
