@use "@/shared/ui" as g;

.anchor {
  scroll-margin-top: 50vh;
}

.cardBody {
  flex-direction: row;
  @media (min-width: g.$breakpoint-tablet) {
    padding: 0 !important;
  }
}

.card {
  @media (min-width: g.$breakpoint-tablet) {
    border: none;
    background: none !important;
    box-shadow: none;
  }

  @media (max-width: g.$breakpoint-tablet) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 90;

    transition:
      opacity 0.15s ease,
      transform 0.15s ease;

    &.hidden {
      opacity: 0;
      pointer-events: none;
      transform: translateY(20px);
    }
  }
}

.mobileExtraButton {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    aspect-ratio: 1 / 1;
  }
}

.iconWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImage {
  position: relative !important;
  object-fit: contain;
}
