@use "@/shared/ui" as g;

.list {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: g.$padding-sm;
}

.hide {
  width: 100%;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: g.$padding-xxxsm;
}
