@use "@/shared/ui" as g;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: g.$padding-sm g.$padding-xxsm;
  gap: g.$padding-xxsm;
}

.text {
  width: 100%;
}

.links {
  display: inline-flex;
  gap: g.$padding-xxsm;
}
