@use "@/shared/ui" as g;

.parts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: g.$padding-md;
}

.parts .sub {
  & * {
    text-align: left;
  }

  ol {
    padding-bottom: g.$padding-sm;
  }
}
