@use "@/shared/ui" as g;

.parts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: calc(g.$padding-xxsm * 2.5);
}

.parts .sub {
  & * {
    text-align: left;
  }

  h2 {
    padding-bottom: 0.5rem;
    font-family: "Minecraft";
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: 0.02em;
    line-height: 1.75rem;
    color: white;

    @media (max-width: g.$breakpoint-laptop) {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    @media (max-width: g.$breakpoint-tablet) {
      font-size: 1.25rem;
      line-height: 1.3rem;
    }
  }

  ol {
    padding-bottom: 1rem;
  }
}
