@use "~/utils" as g;

.container {
  width: 100%;

  .part {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: g.$padding-sm;
    gap: g.$padding-xsm;
  }
}

.voucher {
  padding-top: 1rem;
  width: 100%;
  display: inline-flex;
  gap: g.$padding-xsm;
}

.input {
  width: 100%;
}

.group {
  gap: 0.5rem;
}

.action {
  width: 100%;
}
