@use "@/shared/ui" as g;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 47, 48);
  border: g.$minecraftdepth solid rgb(30, 30, 31);

  box-shadow: g.$minecraftdepth g.$minecraftdepth 0px 0px
    g.$color-overlay-card-dark;
  transition: transform 0.15s ease;

  @media (hover: hover) {
    &:hover {
      transform: translate(
        calc(g.$minecraftdepth * -2),
        calc(g.$minecraftdepth * -2)
      );
    }
  }
}

.descContainer {
  border-image-source: url("../../../../../../../public/ui/card/card_button.png");
  width: 100%;
  flex: 1;
  padding-inline: g.$padding-sm;
  padding-block: g.$padding-sm;
  border-image-slice: 1 1 1 1 fill;
  border-image-width: calc(g.$minecraftdepth) calc(g.$minecraftdepth)
    calc(g.$minecraftdepth) calc(g.$minecraftdepth);
}

.container > a {
  display: flex;
  border-bottom: g.$minecraftdepth solid rgb(30, 30, 31);
}

.container > a > div {
  width: 100%;
}

.container > a > div > img {
  display: flex;
  background-color: gray;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
  transform: translate(0%, -100%);
}

.imgWrapper:hover > h4 {
  color: rgb(83, 216, 34) !important;
}

.thumbnailWrapper {
  display: flex;
  border-bottom: g.$minecraftdepth solid rgb(30, 30, 31);
}

.thumbnailWrapper img {
  display: flex;
  background-color: gray;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.tagsWrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.tagsContainer {
  border: g.$minecraftdepth solid rgb(30, 30, 31);
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  border-bottom: 0;
  border-left: 0;
}

.tagsContainer p {
  padding: 0.125rem 0.33rem;
  background-color: rgb(49, 50, 51);
}

.author {
  position: absolute;
}
