@use "@/utils" as g;

.projects {
  display: grid;
  gap: g.$padding-sm;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: g.$breakpoint-tablet) {
    grid-template-columns: 1fr;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: g.$padding-sm;
}

.link {
  width: 100%;
  text-decoration: none;
}

.loading {
  width: 100%;
  align-items: center;
}