@use "~/utils/_variables.scss" as g;

.wrapper {
  height: auto;
  min-height: 46px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  touch-action: none;
  user-select: none;
}

.button {
  cursor: pointer;

  box-sizing: border-box;

  height: 100%;
  width: 100%;
  flex: 1;

  image-rendering: pixelated;
  border-image-slice: 2 2 4 2 fill !important;
  border-image-width: 5px 5px 10px 5px !important;
  padding: g.$padding-xxsm;
  padding-bottom: calc(g.$padding-xxsm + g.$minecraftdepth * 2);

  &.lock {
    cursor: default;
  }
}

.clicked {
  margin-top: calc(g.$minecraftdepth * 2);

  padding-bottom: g.$padding-xxsm;
  border-image-slice: 2 2 2 2 fill !important;
  border-image-width: calc(g.$minecraftdepth * 2) calc(g.$minecraftdepth * 2)
    calc(g.$minecraftdepth * 2) calc(g.$minecraftdepth * 2) !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: g.$padding-xsm;
  padding-bottom: calc(g.$padding-xsm + g.$minecraftdepth * 2);

  &.clicked {
    margin-top: calc(g.$minecraftdepth * 2);

    padding-bottom: g.$padding-xsm;
  }
}
