.buttonContainer {
    display: flex;
    min-height: 3rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.button:focus-visible {
    outline: none;
}

.first_layer {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: var(--minecraftdepth) solid rgb(30, 30, 30);
}

[data-toggled="true"] .first_layer {
    height: calc(100% - calc(var(--minecraftdepth) * 2));
}

.second_layer {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Button Types */

[data-type="alwaysWhite"] .second_layer {
    background-color: rgb(88, 88, 90);
}

[data-type="alwaysGreen"] .second_layer {
    background-color: rgb(29, 77, 19);
}

[data-type="alwaysBlack"] .second_layer {
    background-color: rgb(32, 33, 33);
}

[data-type="alwaysBlack"][data-toggled="true"] .second_layer {
    background-color: rgb(48, 49, 49);
}

/* Button Types On Hover (For some reason only black one has different second layer lool) */

[data-type="alwaysBlack"] .first_layer:hover .second_layer, [data-type="alwaysBlack"].wrapper:focus-visible .second_layer {
    background-color: rgb(48, 49, 49);
}

.third_layer {
    position: relative;
    width: 100%;
    height: calc(100% - calc(var(--minecraftdepth) * 2));
}

[data-toggled="true"] .third_layer {
    height: 100%;
}

/* Button Types */

[data-type="alwaysWhite"] .third_layer {
    background-color: rgb(208, 209, 212);
}

[data-type="alwaysGreen"] .third_layer {
    background-color: rgb(60, 133, 39);
}


[data-type="alwaysBlack"] .third_layer {
    background-color: rgb(47, 47, 48);
}

/* Button Types On Click */

[data-type="alwaysWhite"][data-toggled="true"] .third_layer {
    background-color: rgb(244, 246, 249);
}

[data-type="alwaysGreen"][data-toggled="true"] .third_layer {
    background-color: rgb(82, 165, 53);
}

[data-type="alwaysBlack"][data-toggled="true"] .third_layer {
    background-color: rgb(62, 62, 62);
}

/* Button Types On Hover */

[data-type="alwaysWhite"] .first_layer:hover .third_layer, [data-type="alwaysWhite"].wrapper:focus-visible .third_layer {
    background-color: rgb(244, 246, 249);
}

[data-type="alwaysGreen"] .first_layer:hover .third_layer, [data-type="alwaysGreen"].wrapper:focus-visible .third_layer {
    background-color: rgb(82, 165, 53);
}

[data-type="alwaysBlack"] .first_layer:hover .third_layer, [data-type="alwaysBlack"].wrapper:focus-visible .third_layer {
    background-color: rgb(62, 62, 62);
}

.fourth_layer {
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Button Types */

[data-type="alwaysWhite"] .fourth_layer {
    border: var(--minecraftdepth) solid rgb(250, 250, 250);
    border-bottom: var(--minecraftdepth) solid rgb(231, 231, 231);
}

[data-type="alwaysGreen"] .fourth_layer {
    border: var(--minecraftdepth) solid rgb(99, 157, 82);
    border-bottom: var(--minecraftdepth) solid rgb(79, 145, 60);
}

[data-type="alwaysBlack"] .fourth_layer {
    border: var(--minecraftdepth) solid rgb(71, 71, 72);
    border-bottom: var(--minecraftdepth) solid rgb(71, 71, 72);
}

/* Button Types On Click */

[data-type="alwaysWhite"][data-toggled="true"] .fourth_layer {
    border: var(--minecraftdepth) solid rgb(254, 254, 254);
    border-bottom: var(--minecraftdepth) solid rgb(249, 250, 252);
}

[data-type="alwaysGreen"][data-toggled="true"] .fourth_layer {
    border: var(--minecraftdepth) solid rgb(117, 183, 93);
    border-bottom: var(--minecraftdepth) solid rgb(99, 174, 73);
}

[data-type="alwaysBlack"][data-toggled="true"] .fourth_layer {
    border: var(--minecraftdepth) solid rgb(84, 84, 85);
    border-bottom: var(--minecraftdepth) solid rgb(84, 84, 85);
}

/* Button Types On Hover */

[data-type="alwaysWhite"] .first_layer:hover .fourth_layer, [data-type="alwaysWhite"].wrapper:focus-visible .fourth_layer {
    border: var(--minecraftdepth) solid rgb(254, 254, 254);
    border-bottom: var(--minecraftdepth) solid rgb(249, 250, 252);
}

[data-type="alwaysGreen"] .first_layer:hover .fourth_layer, [data-type="alwaysGreen"].wrapper:focus-visible .fourth_layer {
    border: var(--minecraftdepth) solid rgb(117, 183, 93);
    border-bottom: var(--minecraftdepth) solid rgb(99, 174, 73);
}

[data-type="alwaysBlack"] .first_layer:hover .fourth_layer, [data-type="alwaysBlack"].wrapper:focus-visible .fourth_layer {
    border: var(--minecraftdepth) solid rgb(84, 84, 85);
    border-bottom: var(--minecraftdepth) solid rgb(84, 84, 85);
}

.fifth_layer {
    position: relative;
    width: var(--minecraftdepth);
    height: var(--minecraftdepth);
    top: calc(-1 * var(--minecraftdepth));
}

/* Button Types */

[data-type="alwaysWhite"] .fifth_layer {
    background-color: rgb(253, 253, 253);
}

[data-type="alwaysGreen"] .fifth_layer {
    background-color: rgb(114, 167, 99);
}

[data-type="alwaysBlack"] .fifth_layer {
    background-color: rgb(85, 85, 86);
}

/* Button Types On Click */

[data-type="alwaysWhite"][data-toggled="true"] .fifth_layer {
    background-color: rgb(254, 254, 255);
}

[data-type="alwaysGreen"][data-toggled="true"] .fifth_layer {
    background-color: rgb(130, 190, 109);
}

[data-type="alwaysBlack"][data-toggled="true"] .fifth_layer {
    background-color: rgb(97, 97, 98);
}

/* Button Types On Hover */

[data-type="alwaysWhite"] .first_layer:hover .fifth_layer, [data-type="alwaysWhite"].wrapper:focus-visible .fifth_layer {
    background-color: rgb(254, 254, 255);
}

[data-type="alwaysGreen"] .first_layer:hover .fifth_layer, [data-type="alwaysGreen"].wrapper:focus-visible .fifth_layer {
    background-color: rgb(130, 190, 109);
}

[data-type="alwaysBlack"] .first_layer:hover .fifth_layer, [data-type="alwaysBlack"].wrapper:focus-visible .fifth_layer {
    background-color: rgb(97, 97, 98);
}

.sixth_layer {
    display: block;
    position: relative;
    width: var(--minecraftdepth);
    height: var(--minecraftdepth);
    left: calc(100% - var(--minecraftdepth));
    top: calc(-1 * (var(--minecraftdepth) * 2));
}

/* Button Types */

[data-type="alwaysWhite"] .sixth_layer {
    background-color: rgb(253, 253, 253);
}

[data-type="alwaysGreen"] .sixth_layer {
    background-color: rgb(114, 167, 99);
}

[data-type="alwaysBlack"] .sixth_layer {
    background-color: rgb(85, 85, 86);
}

/* Button Types On Click */

[data-type="alwaysWhite"][data-toggled="true"] .sixth_layer {
    background-color: rgb(254, 254, 255);
}

[data-type="alwaysGreen"][data-toggled="true"] .sixth_layer {
    background-color: rgb(130, 190, 109);
}

[data-type="alwaysBlack"][data-toggled="true"] .sixth_layer {
    background-color: rgb(97, 97, 98);
}

/* Button Types On Hover*/

[data-type="alwaysWhite"] .first_layer:hover .sixth_layer, [data-type="alwaysWhite"].wrapper:focus-visible .sixth_layer {
    background-color: rgb(254, 254, 255);
}

[data-type="alwaysGreen"] .first_layer:hover .sixth_layer, [data-type="alwaysGreen"].wrapper:focus-visible .sixth_layer {
    background-color: rgb(130, 190, 109);
}

[data-type="alwaysBlack"] .first_layer:hover .sixth_layer, [data-type="alwaysBlack"].wrapper:focus-visible .sixth_layer {
    background-color: rgb(97, 97, 98);
}

.text {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-line;
    font-family: "Mojangles";
}

.text .text {
    text-align: center !important;
}

/* Text Color Types */

[data-type="alwaysWhite"] .text {
    color: rgb(30, 30, 31);
}

[data-type="alwaysGreen"] .text {
    color: white;
}

[data-type="alwaysBlack"] .text {
    color: white;
}