@use "@/utils" as g;

.overlay {
  position: relative;
}

.editor {
  @include g.card-margin();
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: g.$padding-xsm;
}

.fullscreen {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 92;
  top: 0;
  left: 0;
}

.mode {
  @media (min-width: g.$breakpoint-tablet) {
    display: none;
  }
}

.icon {
  height: g.$icon-sm;
  image-rendering: pixelated;
}
