@use "~/utils/_variables" as g;

$profile-image-size: 150px;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: g.$padding-md;
}

.profile {
  padding: g.$padding-sm;
  display: inline-flex;
  gap: g.$padding-sm;
  align-items: start;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image {
  min-width: $profile-image-min-size;
  max-width: $profile-image-max-size;
  height: auto !important;
  width: 100% !important;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.user {
  word-break: break-all;
}

.name {
  display: inline-flex;
  align-items: center;
  gap: g.$padding-xsm;
}

.settings {
  width: g.$icon-sm;
  height: g.$icon-sm;
  image-rendering: pixelated;
}

.part {
  display: flex;
  flex-direction: column;
  gap: g.$padding-xsm;
  padding: g.$padding-sm;
}

.input {
  width: 100%;
}

.link {
  color: g.$color-selection !important;
}

.error {
  color: g.$color-red !important;
}

.icons {
  display: inline-flex;
}

.report {
  height: g.$icon-sm;
  image-rendering: pixelated;
}

.banned {
  color: g.$color-red !important;
}

.rating {
  width: fit-content !important;
}
