@use "@/shared/ui" as g;

.faq {
  display: flex;
  flex-direction: column;
  width: 100%;

  .heading {
    padding-bottom: g.$padding-sm;
  }
}

.question {
  display: flex;
  flex-direction: column;
  gap: g.$padding-xsm;
}
