@use "~/utils/_variables" as g;

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: start;
  align-items: start;
  gap: g.$padding-sm;

  @media (max-width: g.$breakpoint-laptop) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.card {
  flex: 1;
}

.data {
  display: flex;
  flex-direction: column;
  gap: g.$padding-sm;
}
