@use "@/shared/ui" as g;

.feedContainer {
  display: flex;
  flex-direction: column;
  gap: calc(g.$padding-xsm * 1.25);
}

.feedProgress {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: calc(g.$padding-xsm * 1.25);
}

.arrowButton {
  min-height: 0 !important;
  width: auto;
  flex: 0;
}

.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.carouselViewport {
  margin: calc(g.$minecraftdepth * -2);
  margin-inline: calc(g.$minecraftdepth * -9.5);
  padding: calc(g.$minecraftdepth * 2);
  overflow: hidden;
  width: calc(100% + g.$minecraftdepth * 9.5);
  position: relative;
  align-items: center;
}

.carouselTrack {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.carouselItem {
  padding-inline: calc(g.$minecraftdepth * 3);
  flex: 0 0 100%;
  transition: none;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
