@use "@/shared/ui" as g;

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: g.$padding-xxxsm;
}

.input {
  width: 100%;
  align-items: start;
}

.error {
  color: g.$color-red !important;
}
