@use "@/shared/ui" as g;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: calc(g.$padding-xsm * 2.5);
}

.retryLabel {
  @include g.no-drag();
}

.bar {
  max-width: 100%;
  height: 20px;
}

.redownload {
  opacity: 0;
  pointer-events: none;
  animation: fadeIn 0.25s ease forwards;
  animation-delay: 0.25s;
}

@keyframes fadeIn {
  to {
    opacity: 0.7;
    pointer-events: auto;
  }
}
