.background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(~/assets/images/crosshair_backgrounds/9.png);
  padding-bottom: var(--sectionsPadding);
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.downloadElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  gap: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.downloadItems {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 100%;
}

.adVideoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto 0 auto;
  width: 100%;
  border: var(--minecraftdepth) solid rgb(30, 30, 30);
}

.adVideo {
  width: 100%;
  aspect-ratio: 16 / 2;
}

.tabsWrapper {
  width: 100%;
  display: flex;
}

.gridCardsContainer {
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 600px) {
  .gridCardsContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .adVideoWrapper {
    width: 80%;
  }
}
