@use "~/utils/_variables" as g;

.items {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: g.$padding-xsm;

  @media (max-width: g.$breakpoint-laptop) {
    gap: g.$padding-xxsm;
  }
}

.category {
  width: 100%;
}
