@use "~/utils" as g;

.main {
  width: 100%;
}

.downloads {
  display: flex;
  flex-direction: column;
  padding: g.$padding-sm;
  gap: g.$padding-sm;
  width: 100%;
}

.ad {
  display: grid;
  grid-template-areas:
    "bb bb"
    "extensions side";
  grid-template-columns: 1fr 1fr;
  gap: g.$padding-xsm;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;

  &.bb {
    grid-area: bb;
  }

  &.extensions {
    grid-area: extensions;
  }

  &.side {
    grid-area: side;
  }

  .image {
    object-fit: cover;
    filter: brightness(40%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .caption {
    position: relative;
    z-index: 1;
    padding: g.$padding-md;
    text-shadow: 0 calc(g.$minecraftdepth * 2) black;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: g.$padding-xsm;
}

.searchbar {
  width: 100%;
}

.types {
  // display: inline-flex;
  // gap: g.$padding-xsm;
  // overflow: auto;
}

.loader {
  width: 100%;
  padding: g.$padding-sm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: g.$padding-sm;
}
