@use "@/utils" as g;

.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.icon {
  height: 100px;
  width: 100px;
  position: absolute;
  top: calc(50% - (100px / 2));
  left: calc(50% - (100px / 2));
  pointer-events: none;
  color: white;
  cursor: pointer;
}

.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 1;
}

.thumbnail {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
