@use "@/shared/ui" as g;

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: g.$padding-sm;
}

.loader {
  margin-block: g.$padding-sm;
  align-items: center;
  width: 100%;
}

.group {
  width: 100%;
}

.avatar {
  width: g.$icon-md;
  height: g.$icon-md;
  image-rendering: pixelated;
}

.link {
  text-decoration: none;
  color: inherit;
}

.rating {
  color: g.$color-sbtn-click-on-focus-visible !important;
}

.profile {
  padding: g.$padding-xsm;
}
