.wrapper {
  padding: calc(var(--minecraftdepth) * 2);
  background-color: #E6E8EB;
  box-sizing: border-box;
  font-family: "Mojangles";

  overflow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  cursor: pointer;
  transition: background-color 0.3s ease;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.wrapper:focus-visible {
  outline: none;
  background-color: var(--bedrock-simple-button-click-on-focus-visible);
}

.wrapper:active {
  background-color: var(--bedrock-simple-button-click);
}

.child {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}