@use "@/utils" as g;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: g.$padding-sm;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  @include g.no-drag();
}

.bar {
  max-width: 100%;
  height: 20px;
}

.redownload {
  opacity: 0;
  pointer-events: none;
  animation: fadeIn 0.25s ease forwards;
  animation-delay: 5s;

  &.visible {
    animation-delay: 0s;
  }
}

@keyframes fadeIn {
  to {
    opacity: 0.7;
    pointer-events: auto;
  }
}
