*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --minecraftdepth: 2.5px;
  --websiteSizing: clamp(50px, calc(var(--minecraftdepth) * 500), calc(100% - (var(--minecraftdepth) * 16)));

  /* Minecraft Colors */
  --black: rgb(30, 30, 30);
  --grey: rgb(70, 70, 70);
  --white: rgb(230, 232, 235);
  --dirty-white: rgb(200, 200, 200);
  --bedrock-simple-button-click-on-focus-visible: rgb(170, 170, 170);
  --bedrock-simple-button-click: rgb(207, 208, 212);
  --slider-active: rgb(60, 133, 39);
  --selection-color: rgba(60, 133, 39, 1);
  --background-color: rgb(14, 14, 14);

  --padding-small: 2.5px;
  --padding-medium: 5px;
  --padding-large: 7.5px;
  --padding-xlarge: 10px;

}

::selection,
::-moz-selection,
::-o-selection,
::-ms-selection,
::-webkit-selection {
  background: var(--selection-color);
  color: #fff;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

@font-face {
  font-family: 'Minecraft';
  src: local('Minecraft'), url(assets/fonts/minecraft/Minecraft-Normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Mojangles';
  src: local('Mojangles'), url(assets/fonts/mojangles/Mojangles.ttf) format('truetype');
}

@font-face {
  font-family: 'MinecraftTen';
  src: local('MinecraftTen'), url(assets/fonts/minecraft/MinecraftTen.ttf) format('truetype');
}

@font-face {
  font-family: 'MinecraftFive';
  src: local('MinecraftFive'), url(assets/fonts/minecraft/MinecraftFive.ttf) format('truetype');
}

section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-snap-align: center;
  text-align: center;
  flex: none;
  width: 100%;
  height: 100%;
}

h1,h2,h3 {
  font-weight: 400;
}

html {
  font-size: 16px;
}

/* @media screen and (max-width: 1024px) { 
} */

@media screen and (max-width: 768px) { 
  :root {
    --websiteSizing: clamp(50px, calc(var(--minecraftdepth) * 500), calc(100% - (var(--minecraftdepth) * 12)));
  }
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) { 
  :root {
    --websiteSizing: clamp(50px, calc(var(--minecraftdepth) * 500), calc(100% - (var(--minecraftdepth) * 8)));
  }
  html {
    font-size: 12px;
  }
}