.footer-text {
  height: 100%;
  position: relative;
  font-family: "Mojangles";
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align:middle;
  margin: 0px;
  padding: 0px 15px 0px 15px;
}
