.outer-div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* Ensures Label contents are centered initially */
    align-items: center;
    background-color: rgb(145, 145, 145);
    overflow: hidden;
    padding-bottom: calc(var(--minecraftdepth) * 2);;
}

.inner-div {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 232, 235);
    position: relative;
    /* Required for absolute centering */
    overflow: hidden;
    align-items: center;
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* Keeps prefix and suffix on their sides */
    position: relative;
    padding: var(--minecraftdepth);
    box-sizing: border-box;
}


.prefix,
.suffix {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prefix p,
.suffix p,
.center,
.center p {
    margin: 0px;
    /* Remove any default margin */
    padding: 0px;
    vertical-align: middle;


    /* Remove default padding */
    /* line-height: 1;
    Prevent additional space from font size */
}

.prefix {
    display: flex; /* Enforces flex container */
    flex-direction: row; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    justify-content: flex-start; /* Align items to the right (optional) */
    margin-right: auto;
    /* Fix prefix size to content */
}

.suffix {
    display: flex; /* Enforces flex container */
    flex-direction: row; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    justify-content: flex-end; /* Align items to the right (optional) */
    margin-left: auto;
    /* Push it to the far right */
}

.center {
    position: absolute;
    /* Centers text in the container */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "MinecraftTen";
    /* Optional styling */
}