.outer-div {
    display: flex;
    justify-content: center;
    /* Ensures Label contents are centered initially */
    align-items: center;
    background-color: rgb(145, 145, 145);
    overflow: hidden;
    padding-bottom: calc(var(--minecraftdepth) * 2);
}

.inner-div {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 232, 235);
    position: relative;
    /* Required for absolute centering */
    overflow: hidden;
    align-items: center;
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* Keeps prefix and suffix on their sides */
    position: relative;
    /* For absolute centering of the text */
}


.prefix,
.suffix {
    height: 100%;
}

.prefix,
.suffix,
.center,
.center p {
    margin: 0;
    /* Remove any default margin */
    padding: 0;


    /* Remove default padding */
    /* line-height: 1;
    Prevent additional space from font size */
}

.prefix {
    flex: 0 0 auto;
    /* Fix prefix size to content */
}

.suffix {
    flex: 0 0 auto;
    /* Fix suffix size to content */
    margin-left: auto;
    /* Push it to the far right */
}

.center {
    position: absolute;
    /* Centers text in the container */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "MinecraftTen";
    /* Optional styling */
}