.loadingbar-outer-layer {
    position: relative;
    /* background-color: white; */
    border: var(--minecraftdepth) solid white;
    padding: 1px;
    box-sizing: border-box;
}

.loadingbar-inner-layer {
    position: relative;
    width: 100%;
    height: 100%;
    border: var(--minecraftdepth) solid transparent;
    box-sizing: border-box;
    background-color: white;
}
