.minecraft-button {
  padding: calc(var(--minecraftdepth) * 2);
  background-color: #E6E8EB;
  box-sizing: border-box;
  font-family: "Mojangles";
  /* BedrockColors.grey230232235 */
  overflow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.minecraft-button.clicked {
  background-color: rgba(207, 208, 212, 1);
  /* Clicked state color */
}

.minecraft-button-child {
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.minecraft-button-child p {
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
}