@use "@/shared/ui" as g;

.editor {
  @include g.card-margin();
}

.skip {
  color: g.$color-selection !important;
}

.smooth {
  @media (max-width: g.$breakpoint-tablet) {
    display: none;
  }

  scroll-behavior: smooth;
  * {
    scroll-behavior: smooth;
  }
}
