#homeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: var(--websiteSizing);
    height: 100%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
    padding: 10vh 0 2.5vh 0;
}

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerLogoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.headerAndActionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.headerLogoText {
    font-size: clamp(2rem, 10vw, 6.5rem);
    line-height: clamp(2rem, 10vw, 6.5rem);;
}

#logo {
    top: 0.09rem;
    position: relative;
    max-height: calc(clamp(2rem, 10vw, 6.5rem) / 1.45);
}

.headerDescription {
    width: 100%;
    margin-bottom: 30px;
}

.headerActions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.trailerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.trailerIframeContainer {
    width: 70%;
    aspect-ratio: 16 / 9;
    background-color: rgb(41, 41, 41);
    margin-top: 15px;
}

.bottomTextContainer {
    opacity: 0.33;
}

@media screen and (max-width: 1024px) {
    .headerAndActionsContainer {
        width: 100%;
    }
    .trailerContainer {
        padding-bottom: 0;
    }
    #homeSection {
        gap: 2rem;
    }
    .trailerIframeContainer {
        width: clamp(50px, 75vh, 90%)
    }
}

@media screen and (max-width: 768px) {
    .trailerIframeContainer {
        width: 100%
    }

    .headerActions {
        flex-direction: column;
        gap: 0.5rem;
    }
    #homeSection {
        gap: 1rem;
    }
}


@media screen and (max-width: 500px) {
    #homeSection {
        justify-content: space-around;
    }
}

@media screen and (max-width: 370px) {
    #logo {
        display: none;
    }
}