@use "~/utils" as g;

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .text {
  max-width: 300px;
  min-width: 50px;
  white-space: nowrap;
  padding: calc((g.$minecraftdepth * 2) + g.$padding-xxsm);

  position: absolute;
  z-index: 5;
  bottom: 100%;
  left: 50%;
  margin-bottom: g.$padding-xsm;
  transform: translateX(-50%);

  image-rendering: pixelated;
  border-image-slice: 4 4 4 4 fill;
  border-image-width: 10px 10px 10px 10px;
  border-image-source: url("~/assets/ui/tooltip/purple_border.png");
  padding: calc((g.$minecraftdepth * 2) + g.$padding-xxsm + 1px);
  /* or use outline trick */
  outline: 4px solid transparent;
  outline-offset: -4px;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  opacity: 0;
}

.tooltip:hover .text {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  opacity: 1;
}
