#page_sections {
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    width: 100%;
    top: 0;
    /* calc 58px as header size */
    height: calc(100vh - 58px);
}

#page_sections > :nth-last-child(2) {
    /* height: calc(100% - 58px); */
}

@media screen and (max-height: 500px) {
    #page_sections {
        scroll-snap-type: none;
    }
}

#page_sections {
    /* -ms-overflow-style: none; */
    /* scrollbar-width: none; */
}

#page_sections::-webkit-scrollbar {
    /* display: none; */
}


.page_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: var(--websiteSizing);
    height: 100%;
    min-width: 200px;
}

.page_content_wrapper .text {
    margin: 0;
}

.page_content_wrapper .page_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.prefix img {
    height: 100%;
    padding-right: 5px;
}
