@use "~/utils" as g;

.picture {
  image-rendering: pixelated;

  .small {
    width: g.$icon-sm;
    height: g.$icon-sm;
  }

  .medium {
    width: g.$icon-md;
    height: g.$icon-md;
  }

  .large {
    width: g.$icon-lg;
    height: g.$icon-lg;
  }
}

.avatar {
    display:flex;
    flex-direction: row;
}

.details {
    display:flex;
    flex-direction: column;
}
