@use "@/utils" as g;

.placeholder {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  aspect-ratio: 16/9;
  cursor: pointer;
}

.ignore {
  @include g.no-drag();
}

.hidden {
  display: none;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
}
