@use "@/utils" as g;

.background {
  @include g.page-background(
    g.$background-linear-gradient,
    "../../public/images/crosshair_backgrounds/15.webp"
  );
}

.padding {
  @include g.section-padding((top, bottom));
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: g.$padding-md;
}