@use "~/utils/_variables" as g;

.faq {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  gap: g.$padding-xsm;

  @media (max-width: g.$breakpoint-laptop) {
    gap: g.$padding-xxsm;
  }
}

.heading {
  padding-bottom: g.$padding-sm;
}
