header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#suffix-expand-button {
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

#header-prefix {
    width: 100%;
    height: 100%;
}

#header-suffix .material-icons {
    margin: 0px;
    /* Remove any default margin */
    padding: 0px;
    vertical-align: middle;
}

#header-suffix ul {
    align-items: center;
    justify-content: space-between;
}

#header-suffix ul {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#header-suffix ul li {
    height: 100%;
    width: 100%;
}

#header-expand-button {
    display: none;
}

@media screen and (max-width: 600px) {
    #header-suffix {
        width: 100%;
    }

    #header-suffix ul {
        flex-direction: column;
    }

    #header-suffix ul {
        padding: 2.5px;
    }

    li .bedrock-simple-button {
        width: 100%;
    }

    li {
        width: 100%;
    }

    #header-expand-button {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header-expand-button button {
        aspect-ratio: 1/1;
    }
}