.outer-div {
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    /* Ensures Label contents are centered initially */
    align-items: start;
    background-color: rgb(145, 145, 145);
    overflow: visible;
    padding-bottom: calc(var(--minecraftdepth) * 2);
}

.inner-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 232, 235);
    position: relative;
    /* Required for absolute centering */
    overflow: visible;
    align-items: center;
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* Keeps prefix and suffix on their sides */
    position: relative;
    padding: var(--minecraftdepth);
    box-sizing: border-box;
}

#header-prefix,
#header-suffix {
    height: 100%;
}

#header-prefix p,
#header-suffix p {
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-prefix img {
    height: 100%;
}

#header-prefix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}