.video {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: rgb(41, 41, 41);
    margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .video {
        width: clamp(50px, 75vh, 90%)
    }
}

@media screen and (max-width: 768px) {
    .video {
        width: 100%;
    }
}