@use "@/shared/ui" as g;

.wrapper {
  @include g.no-drag();

  height: auto;
  min-height: g.$buttonHeight;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  @media (max-width: g.$breakpoint-tablet) {
    min-height: 3.25rem;
  }
}

.button {
  cursor: pointer;

  box-sizing: border-box;

  height: 100%;
  width: 100%;
  flex: 1;

  image-rendering: pixelated;
  border-image-slice: 2 2 4 2 fill !important;
  border-image-width: 5px 5px 10px 5px !important;
  padding: g.$padding-xxxsm;
  padding-bottom: calc(g.$padding-xxxsm + g.$minecraftdepth * 2);

  &.lock {
    cursor: default;
  }
}

.clicked {
  margin-top: calc(g.$minecraftdepth * 2);

  padding-bottom: g.$padding-xxxsm;
  border-image-slice: 2 2 2 2 fill !important;
  border-image-width: calc(g.$minecraftdepth * 2) calc(g.$minecraftdepth * 2)
    calc(g.$minecraftdepth * 2) calc(g.$minecraftdepth * 2) !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: g.$padding-xxsm;
  padding-bottom: calc(g.$padding-xxsm + g.$minecraftdepth * 2);

  &.clicked {
    margin-top: calc(g.$minecraftdepth * 2);

    padding-bottom: g.$padding-xxsm;
  }

  * {
    margin-inline: g.$padding-xxsm;
  }
}
