@use "@/utils" as g;

.markdown {
  display: flex;
  flex-direction: column;

  h2 {
    text-align: left;
    font-family: Minecraft;
    padding: 2rem 0 0.5rem 0;
  }

  strong {
    text-decoration: underline;
    font-weight: 500;
  }
}
