@use "@/shared/ui" as g;

.editor {
  // @include g.card-margin();
  @include g.card-padding();

  &.size {
    display: flex;
    flex-direction: column;
    gap: g.$padding-xxsm;
  }
}

.input {
  width: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: calc(g.$padding-xsm * 1.25);
}
