@use "@/shared/ui" as g;

.banner {
  width: 100%;
  padding: g.$padding-xxsm;
}

.info {
  background-color: g.$color-background-blue;
}

.error {
  background-color: g.$color-background-red;
}

.important {
  background-color: g.$color-background-yellow;
}

.neutral {
  background-color: g.$color-background-dark;
}

.success {
  background-color: g.$color-background-green;
}
