@use "@/shared/ui" as g;

.projects {
  display: grid;
  gap: calc(g.$padding-xxsm * 2.5);
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: g.$breakpoint-tablet) {
    grid-template-columns: 1fr;
  }
}
