@use "~/utils/_variables" as g;
//TODO: Change values to variables

.content {
  width: 100%;
  height: 100%;
  padding: calc(g.$minecraftdepth * 3);

  position: relative;
  display: flex;
  flex-direction: row;
}

.image {
  position: relative;
  height: 100%;
  aspect-ratio: 1 / 1;

  img {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}

.description {
  padding: calc(g.$minecraftdepth * 3);
  width: 100%;

  p {
    display: flex;
    flex-direction: column;
    margin-block-start: 0em;
    margin-block-end: 0em;
    box-sizing: border-box;
  }
}
