@use "@/shared/ui" as g;

$border: g.$minecraftdepth solid rgb(30, 30, 31);

.tag {
  background-color: g.$color-tag-default;
  padding: g.$padding-xxxsm;
  width: fit-content;
  display: inline-flex;
  gap: g.$padding-xxsm;
}

.top {
  border-top: $border;
}

.bottom {
  border-bottom: $border;
}

.left {
  border-left: $border;
}

.right {
  border-right: $border;
}

.all {
  border: $border;
}

.delete {
  cursor: pointer;
  text-decoration: none;
}
