@font-face {
  font-family: 'Mojangles';
  src: url('/fonts/mojangles/Mojangles.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'MojanglesBold';
  src: url('/fonts/mojangles/MojanglesBold.otf');
  font-style: normal;
}

@font-face {
  font-family: 'MinecraftTen';
  src: url('/fonts/minecraft/MinecraftTen.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'MinecraftFive';
  src: url('/fonts/minecraft/MinecraftFive.ttf');
  font-style: normal;
}