@use "@/utils" as g;

.background {
  @include g.page-background(
    g.$background-linear-gradient,
    "../../public/images/crosshair_backgrounds/22.webp"
  );
}

.padding {
  @include g.section-padding((top, bottom));
}
