@use "~/assets/styles/global" as g;

.background {
  background-position: center center;
  padding-block: g.$sectionsDividerPadding;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: g.$breakpoint-tablet) {
    flex-direction: column !important;
  }
}
