@use "@/shared/ui" as g;

.wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  // HACK: -1px fixes issue of the gap between header and body
  height: calc(g.$navbar-height - 1px);
  z-index: 91;
}

.heading {
  text-wrap: nowrap;
  overflow: hidden;

  @media (max-width: g.$breakpoint-mobileM) {
    display: none;
  }
}

.item {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 100%;

  align-items: center;
  justify-content: start;
}

.mobile {
  width: 100%;
  justify-content: space-between;
}

.button {
  height: 100%;
  color: unset;
  padding: 0;
  text-decoration: none;
  @media (max-width: g.$breakpoint-tablet) {
    display: none;
  }
}

.menu {
  padding: 0.25rem;
}

.menuButton {
  display: none !important;
  margin-left: auto;

  @media (max-width: g.$breakpoint-tablet) {
    display: flex !important;
  }
}

.links {
  @media (max-width: g.$breakpoint-tablet) {
    display: none;
  }
}

.label {
  display: flex;
  flex-direction: row;
  padding: g.$padding-xxsm;
  justify-content: space-between;

  &.expanded {
    @media (max-width: g.$breakpoint-tablet) {
      .wrapper {
        position: fixed;
      }

      flex-direction: column;
      height: 100dvh !important;
      overflow: hidden;
      justify-content: start;

      .nav {
        width: 100%;
      }

      .text {
        width: 100%;
        font-size: 2rem !important;
      }

      .item {
        width: 100%;
        justify-content: start;

        height: auto;
      }

      .button {
        display: flex;
        height: auto;
      }

      .links {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
