@use "@/shared/ui" as g;

.container {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(g.$navbar-height - 1px);
  z-index: 91;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: g.$navbar-height;
  justify-content: space-between;
}

// section: logo
.logoWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;

  align-items: center;
  justify-content: start;
}

.image {
  height: calc(100% - 1.25 * g.$padding-xsm);
  image-rendering: pixelated;
  padding-right: calc(g.$padding-xsm * 1.25);
}

.imageContainer {
  padding-left: calc(g.$padding-xsm * 1.25);
}

.heading {
  text-wrap: nowrap;
  overflow: hidden;

  @media (max-width: g.$breakpoint-mobileM) {
    display: none;
  }
}

// section: nav_buttons
.buttonsWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;

  align-items: center;
  justify-content: start;

  @media (max-width: g.$breakpoint-tablet) {
    display: none;
  }
}

.buttonContainer {
  height: 100%;
  display: flex;

  @media (max-width: g.$breakpoint-tablet) {
    flex-direction: column;
  }
}

.button {
  height: 100%;
  color: unset;
  padding: 0;
  text-decoration: none;

  @media (max-width: g.$breakpoint-tablet) {
    padding: 1rem;
  }
}

// section: navigation
.nav {
  height: 100%;

  @media (max-width: g.$breakpoint-tablet) {
    height: auto;
    width: 100%;
  }
}

// section: mobile_layout
.mobile {
  width: 100%;
  justify-content: space-between;
}

.mobileMenu {
  height: 100%;
  display: none;

  @media (max-width: g.$breakpoint-tablet) {
    display: flex;
  }
}

.menuButton {
  display: none !important;
  margin-left: auto;

  @media (max-width: g.$breakpoint-tablet) {
    display: flex !important;
  }
}

.expandedMenu {
  position: absolute;
  background-color: g.$color-label-white-bright;
  width: 100%;
  z-index: 99;
  display: flex;
  height: 100dvh !important;

  @media (min-width: g.$breakpoint-tablet) {
    display: none;
  }
}

.expandedMenuLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// section: dividers
.verticalDivider {
  border-left: g.$minecraftdepth solid #a1a3a5;
  border-right: g.$minecraftdepth solid #ffffff;
}

.horizontalDivider {
  width: 100%;
  border-top: g.$minecraftdepth solid #a1a3a5;
  border-bottom: g.$minecraftdepth solid #ffffff;
}

// section: rest
.expandedBorder {
  position: relative;
  border-bottom: none !important;
  padding-bottom: calc(g.$minecraftdepth * 2);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(g.$minecraftdepth * 2);
    pointer-events: none;
    display: block;
    background: linear-gradient(
      to bottom,
      #a1a3a5 0 calc(g.$minecraftdepth * 1),
      #ffffff calc(g.$minecraftdepth * 1) calc(g.$minecraftdepth * 2)
    );
    z-index: 2;
  }
}
