@use "@/shared/ui" as g;

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: g.$padding-sm;
}

.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: g.$padding-sm;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  @include g.card-padding-y;
  gap: g.$padding-sm;
}

.cardTextWrapper {
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(g.$padding-xxsm * 2.5);
}
