@use "~/assets/styles/global" as g;

$trailer-padding: 5vh;
$header-height: 50vh;

@mixin flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  @include g.page-background(
    g.$background-linear-gradient,
    "~/assets/images/crosshair_backgrounds/9.png",
    (bottom)
  );
}

.header {
  @include flex-container();
  height: $header-height;
}

.trailer {
  @include flex-container();
  padding-bottom: $trailer-padding;
}
