@use "~/utils" as g;

$trailer-padding: 5vh;
$header-height: 65vh;

@mixin flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  @include g.page-background(
    g.$background-linear-gradient,
    "~/assets/images/crosshair_backgrounds/9.png"
  );

  .padding {
    @include g.section-padding(bottom, g.$sectionsDividerPadding);
  }
}

.header {
  @include flex-container();
  height: $header-height;

  @media (max-width: g.$breakpoint-tablet) {
    height: calc(100vh - g.$navbar-height);
  }
}

.trailer {
  @include flex-container();
}
