@use "~/assets/styles/global" as g;

$trailer-padding: 5vh;
$header-height: 50vh;

@mixin flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  @include g.page-background(
    g.$background-linear-gradient,
    "~/assets/images/crosshair_backgrounds/9.png",
    (bottom)
  );
}

.header {
  @include flex-container();
  height: $header-height;
}

.trailer {
  @include flex-container();
  padding-bottom: $trailer-padding;
}

// zmienic jedynie paddingna

// padding: 7.5vh 0 2.5vh 0;
// zamiast 50vh

// .background {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(~/assets/images/crosshair_backgrounds/9.png);

//   padding-bottom: var(--sectionsPadding);
// }

// .header {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 7.5vh 0 2.5vh 0;
// }

// .trailer {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding-bottom: 5vh;
// }