@use "@/shared/ui" as g;

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: visible;
  box-sizing: border-box;
  min-height: calc(g.$minecraftdepth * 2);

  &.white {
    background-color: g.$color-label-white-bright;
    border-bottom: calc(g.$minecraftdepth * 2) solid g.$color-label-white-dark;
  }

  &.green {
    background-color: g.$color-label-green-bright;
    border-bottom: calc(g.$minecraftdepth * 2) solid g.$color-label-white-dark;
  }

  &.dark {
    background-color: g.$color-label-dark-bright;
    border-bottom: calc(g.$minecraftdepth * 2) solid g.$color-label-dark-dark;
  }
}
