.headerContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.cardsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    gap: 0.5rem;
}

.videoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.videoIframeContainer {
    width: 70%;
    aspect-ratio: 16 / 9;
    background-color: rgb(41, 41, 41);
    margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .cardsContainer {
        flex-direction: column;
    }
    .headerContainer {
        width: 100%;
    }
    .videoContainer {
        padding-bottom: 2rem;
    }
    .videoIframeContainer {
        width: clamp(50px, 75vh, 90%)
    }
}

@media screen and (max-width: 768px) {
    .videoIframeContainer {
        width: 100%;
    }
    .videoContainer {
        padding-bottom: 3rem;
    }
}