.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 70%;
}

.cardsContainerCreators {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    gap: 0.5rem;
}

.cardsContainerHelpers {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}


@media screen and (max-width: 1024px) {
    .cardsContainerCreators {
        flex-direction: column;
    }
    .headerContainer {
        width: 100%;
    }
    .cardsContainerHelpers {
        grid-template-columns: 1fr;
    }
}