@use "@/shared/ui" as g;

$profile-image-size-laptop: 150px;
$profile-image-size-tablet: 120px;
$profile-image-size-mobile: 80px;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: g.$padding-md;
}

.profile {
  display: inline-flex;
  gap: g.$padding-sm;
  align-items: start;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image {
  height: auto !important;
  width: $profile-image-size-laptop;

  @media (max-width: g.$breakpoint-tablet) {
    width: $profile-image-size-tablet;
  }

  @media (max-width: g.$breakpoint-mobileL) {
    width: $profile-image-size-mobile;
  }
}

.header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  display: inline-flex;
  align-items: center;
  gap: g.$padding-xsm;
}

.settings {
  width: g.$icon-sm;
  height: g.$icon-sm;
  image-rendering: pixelated;
}

.part {
  display: flex;
  flex-direction: column;
  gap: g.$padding-xsm;
  padding: g.$padding-sm;
}

.input {
  width: 100%;
}

.link {
  color: g.$color-selection !important;
}

.error {
  color: g.$color-red !important;
}

.icons {
  display: inline-flex;
}

.report {
  height: g.$icon-sm;
  image-rendering: pixelated;
}

.banned {
  color: g.$color-red !important;
}

.rating {
  width: fit-content !important;

  &.simple {
    display: none;
  }

  @media (max-width: g.$breakpoint-mobileM) {
    display: none;
    &.simple {
      display: flex;
    }
  }
}

.text {
  @media (max-width: g.$breakpoint-mobileL) {
    display: none;
  }
}

.bio {
  display: none;

  @media (max-width: g.$breakpoint-mobileL) {
    display: flex;
  }
}

.wrap {
  overflow-wrap: anywhere;
}

.container {
  display: flex;
  flex-direction: column;
  gap: calc(g.$padding-xsm * 2.5);
}

.profileCardBody {
  padding-right: calc(g.$padding-xsm * 1.25) !important;
}

// .linkvertiseInfo {
//   padding-bottom: calc(g.$padding-xsm * 1.25);
// }

.link {
  color: white !important;
}

.monetizationTypeCollapsible {
  display: flex;
  flex-direction: column;
  gap: calc(g.$padding-xsm * 1.25);
}