@use "@/shared/ui" as g;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  padding: g.$padding-xl 0;
  align-items: flex-start;
  max-height: 100%;
  overflow: auto;
}

.body {
  z-index: 93;
  pointer-events: auto;
  height: auto;

  width: 40%;
  max-width: g.$breakpoint-laptopL;

  @media (max-width: g.$breakpoint-laptopL) {
    width: 55%;
  }

  @media (max-width: g.$breakpoint-laptop) {
    width: 65%;
  }

  @media (max-width: g.$breakpoint-tablet) {
    width: 75%;
  }

  @media (max-width: g.$breakpoint-mobileL) {
    width: 90%;
  }
}

.close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  .icon {
    position: relative;
    height: g.$exit-button-size;
    width: g.$exit-button-size;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    filter: invert(1);
    cursor: pointer;
  }
}

.header {
  position: relative;
  padding-block: g.$padding-xxsm;
  display: flex;
  width: 100%;
  border: g.$minecraftdepth solid rgb(86, 87, 89);
  background-color: #48494b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  border: g.$minecraftdepth solid rgb(30, 30, 31);
  margin-bottom: calc(g.$minecraftdepth * -1);
}

.group {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: auto;
}

.selectable {
  cursor: pointer;
}

.part {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: g.$padding-xsm;
}

.item {
  gap: g.$padding-xxxsm;
  display: flex;
  flex-direction: column;
}
