@use "~/utils" as g;

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 5%,
    black 33%,
    black 67%,
    transparent 95%
  );
  mask-image: linear-gradient(to bottom, transparent 5%, black 33%, black 67%, transparent 95%);
}

.row {
  position: absolute;
}

.block {
  @include g.no-drag();

  flex-shrink: 0;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  aspect-ratio: 1/1;
  transform: translateZ(-10px);
  filter: brightness(30%);
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 32px 0px;
}
