.wrapper {
    -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 33%, black 67%, transparent 95%);
    mask-image: linear-gradient(to bottom, transparent 5%, black 33%, black 67%, transparent 95%);
}

.row {
    position: absolute;
}

.block {
    flex-shrink: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    aspect-ratio: 1/1;
    transform: translateZ(-10px);
    filter: brightness(30%);
    position: absolute;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 32px 0px;
}