@use "~/assets/styles/global.scss" as g;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 92;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow:auto;
}

.body {
  z-index: 93;
  pointer-events: auto; /* this is default */
  height: auto;
  min-height: 300px;

  width: 60%;
  max-width: g.$breakpoint-laptopL;

  @media (max-width: g.$breakpoint-laptopL) {
    width: 60%;
  }

  @media (max-width: g.$breakpoint-laptop) {
    width: 85%;
  }

  @media (max-width: g.$breakpoint-tablet) {
    width: 90%;
  }
}

.close {
  height: g.$exit-button-size;
  width: g.$exit-button-size;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  filter: invert(1);
  cursor: pointer;
}

.header {
  padding: g.$padding-sm 0 0 g.$padding-sm;
  display: flex;
  width: 100%;
}
