@use "~/utils/_variables" as g;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 92;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: g.$padding-lg 0;
  align-items: start;
  max-height: 100%;
  overflow: auto;
}

.body {
  z-index: 93;
  pointer-events: auto; /* this is default */
  height: auto;
  min-height: 300px;

  width: 60%;
  max-width: g.$breakpoint-laptopL;

  @media (max-width: g.$breakpoint-laptopL) {
    width: 60%;
  }

  @media (max-width: g.$breakpoint-laptop) {
    width: 85%;
  }

  @media (max-width: g.$breakpoint-tablet) {
    width: 90%;
  }
}

.close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  right:g.$padding-xsm;

  height: g.$exit-button-size;
  width: g.$exit-button-size;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  filter: invert(1);
  cursor: pointer;
}

.header {
  position: relative;
  padding: g.$padding-xsm;
  display: flex;
  width: 100%;
  border: g.$minecraftdepth solid rgb(86, 87, 89);
  background-color: #48494b;
  display: flex;
  align-items: center;
  justify-content: center;
}
