@use "~/utils" as g;

.information {
  display: flex;
  flex-direction: column;
  position: relative;
}

.editor {
  @include g.card-margin();
}

.header {
  display: flex;
  flex-direction: row;
  gap: g.$padding-xxsm;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: g.$padding-xsm;
}

.text {
  margin-right: auto;
}

.skip {
  color: g.$color-selection !important;
}

.icon {
  height: g.$icon-sm;
  image-rendering: pixelated;
}

.popup {
  width: auto;
}

.rating {
  width: fit-content;
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
  pointer-events: auto;
  text-align: center;
  user-select: auto;
  padding-inline: 1rem;
}

