@use "~/utils" as g;

.card {
  background-color: rgba(0, 0, 0, 0.6);
  position: sticky;
  position: -webkit-sticky;
  top: calc(g.$navbar-height + g.$minecraftdepth);
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.group {
  display: inline-flex;
}
