@use "variables" as g;
@use "sass:meta";

@mixin page-background($background, $img-url) {
  background-image: $background, url(#{$img-url});
  background-repeat: no-repeat;
  background-size: cover;
}


@mixin section-padding($sides: null, $padding: g.$sectionsPadding) {
  @if $sides {
    @if meta.type-of($sides) == "list" {
      @each $side in $sides {
        padding-#{$side}: $padding;
      }
    } @else if $sides == top or $sides == bottom {
      padding-#{$sides}: $padding;
    }
  }
}
