$background-linear-gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
$background: linear-gradient(rgba(0, 0, 0, 0.4));

$minecraftdepth: 2.5px;
$sectionsPadding: 3rem;
$sectionsDividerPadding: 12.5rem;
$navbar-height: 65px;
$exit-button-size: 25px;

$breakpoint-mobileS: 320px;
$breakpoint-mobileM: 375px;
$breakpoint-mobileL: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptopL: 1440px;

$padding-xxsm: 0.25rem;
$padding-xsm: 0.5rem;
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-xxlarge: 3rem;

/* Colors */