@use "@/utils" as g;

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: g.$padding-sm;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  @include g.card-padding-y;
  gap: g.$padding-sm;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 0 !important;
  @include g.card-padding-x;
}

.cardTextWrapper {
  padding: 0 2rem;
}

.actions {
  padding-top: g.$padding-sm;
}