@use "@/shared/ui" as g;

$card-min-width: 150px;

@mixin flex-container(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

.card {
  flex: 1 1 $card-min-width;
  @media (max-width: g.$breakpoint-tablet) {
    flex: 0 0;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: calc(g.$padding-xxsm * 2.5);
  padding-top: g.$padding-sm;

  @media (max-width: g.$breakpoint-tablet) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.content {
  @include flex-container(row, flex-start, flex-start);
  width: 100%;
  padding: g.$padding-xxxsm;
  box-sizing: border-box;
  position: relative;

  img {
    flex-shrink: 0;
    width: g.$minecraft-head-size;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
  }
}

.title {
  @include flex-container(row, space-between, center);

  p:nth-child(2) {
    white-space: nowrap;
  }
}

.description {
  padding-inline-start: g.$padding-xxsm;
  width: 100%;

  p {
    margin: 0;
  }
}

.creator {
  padding: 0 g.$padding-sm 0 0;
}
