@use "@/utils" as g;

.grid {
  gap: calc(g.$padding-xsm * 2.5);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: g.$breakpoint-laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: g.$breakpoint-mobileL) {
    grid-template-columns: repeat(1, 1fr);
  }
}
