@use "@/shared/ui" as g;

.padding {
  @include g.section-padding((top, bottom));
  overflow: unset !important;
}

.card {
  position: relative;
  width: 100%;
  gap: g.$padding-md;
  display: flex;
  flex-direction: column;
}
