@use "~/utils/_variables" as g;

.wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  height: g.$navbar-height;
  z-index: 91;
}

.heading {
  text-wrap: nowrap;
  overflow: hidden;

  @media (max-width: g.$breakpoint-mobileM) {
    display: none;
  }
}

.item {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 100%;

  align-items: center;
  justify-content: start;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.text {
  padding: 0.5rem;
}

.button {
  height: 100%;
  color: unset;
  padding: 0;
  text-decoration: none;
  @media (max-width: 1000px) {
    display: none;
  }
}

.active {
  background-color: var(--bedrock-simple-button-click);
}

.menu {
  padding: 0.25rem;
}

.menuButton {
  display: none !important;
  margin-left: auto;

  @media (max-width: 1000px) {
    display: flex !important;
  }
}

.links {
  @media (max-width: 1000px) {
    display: none;
  }
}

.label {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: g.$padding-xsm;
  justify-content: space-between;

  &.expanded {
    @media (max-width: 1000px) {
      .wrapper {
        position: fixed;
      }

      flex-direction: column;
      height: 100vh;
      overflow: hidden;
      justify-content: start;

      .nav {
        width: 100%;
      }

      .text {
        width: 100%;
        font-size: 2rem !important;
      }

      .item {
        width: 100%;
        justify-content: start;

        height: auto;
      }

      .button {
        display: flex;
        height: auto;
      }

      .links {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
