@use "@/shared/ui" as g;

.grid {
  gap: calc(g.$padding-xxsm * 2.5);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: g.$breakpoint-laptopL) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: g.$breakpoint-tablet) {
    grid-template-columns: repeat(1, 1fr);
  }
}
