@use "@/utils" as g;

.banner {
  width: 100%;
  @include g.card-padding();
}

.info {
  background-color: g.$color-background-blue;
}

.error {
  background-color: g.$color-background-red;
}

.important {
  background-color: g.$color-background-yellow;
}

.neutral {
  background-color: g.$color-background-dark;
}
