@use "@/shared/ui" as g;

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: g.$padding-xsm;
}

.description:has(.singleLine) {
  flex-direction: row;
}

.less {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.singleLine {
  white-space: nowrap;
}

.expand {
  white-space: nowrap;
  color: g.$color-label-green-bright !important;
  cursor: pointer;
  text-decoration: underline;
}
